<template>
  <q-page>
    <MyCards />
  </q-page>
</template>

<script lang="ts">
import MyCards from "components/MyCards.vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "IndexPage",
  components: { MyCards },
});
</script>
