<template>
  <q-dialog v-model="dialogEnable">
    <q-card class="bg-skyblue" style="width: 300px">
      <q-card-section>
        <div class="text-body text-bold text-uppercase q-pa-sm">New card</div>
      </q-card-section>
      <q-card-section class="q-pt-none">
        <q-spinner-oval color="primary" size="2em" v-if="loader" />
        <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md" v-else>
          <q-input
            outlined
            color="blue"
            class="text-overline"
            v-model="cardName"
            dense
            label="Card name *"
            hint="Enter card name"
            lazy-rules
            :rules="[(val) => (val && val.length > 0) || 'Please type something']"
          />
          <q-card-actions align="right">
            <q-btn color="blue" outline clickable v-close-popup label="Cancel" />
            <q-btn color="green" type="submit" outline label="Submit" />
          </q-card-actions>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script lang="ts">
import { ref } from "vue";

export default {
  props: {
    newCardDialog: {
      type: Boolean,
    },
  },

  setup(props: any) {
    return {
      dialogEnable: props.newCardDialog,
      cardName: ref(""),
      loader: ref(false),
    };
  },
  methods: {
    onSubmit() {
      this.loader = true;
      const ccNumber = Math.floor(Math.random() * 1e16);
      const modifiedCcnumber = this.format(ccNumber);
      var options = {
        year: "2-digit",
        month: "2-digit",
      };
      const expDate = this.generateRandomDate().toLocaleDateString("en-SG", options);
      const cardsData = [];
      const uid = new Date()
        .getTime()
        .toString(36)
        .concat(performance.now().toString(), Math.random().toString())
        .replace(/\./g, "");
      cardsData.push({
        id: uid,
        name: this.cardName,
        ccNumber: modifiedCcnumber,
        cc_exp: expDate,
      });

      try {
        const key = "card_id";
        const existingCard = this.$q.localStorage.getItem(key);
        console.log(existingCard);
        if (existingCard !== null) {
          existingCard.forEach((element: any) => {
            cardsData.push({
              id: element.id,
              name: element.name,
              ccNumber: element.ccNumber,
              cc_exp: element.cc_exp,
            });
          });
          this.$q.localStorage.set(key, cardsData);
        } else {
          this.$q.localStorage.set(key, cardsData);
        }
        this.loader = false;
        this.$emit("closeDialog");
      } catch (e) {}
    },

    generateRandomDate() {
      return new Date(+new Date() - Math.floor(Math.random() * 10000000000));
    },
    format(s: number) {
      return s.toString().replace(/\d{4}(?=.)/g, "$& ");
    },
  },
};
</script>
