<template>
  <div class="mycards">
    <div class="mycards-top">
      <div class="mycards-top-title">Account balance</div>
      <div class="mycards-top-logo">
        <q-avatar size="25px" style="float: right">
          <img src="Logo.png" />
        </q-avatar>
      </div>
    </div>
    <div class="mycards-bottom">
      <div class="mycards-bottom-left">
        <div class="mycards-bottom-left-currancy">S$</div>
        <div class="mycards-bottom-left-text text-bold">3,000</div>
      </div>
      <div class="mycards-bottom-logo">
        <q-btn
          style="color: #23cefd"
          icon="add_circle"
          no-caps
          size="13px"
          label="New card"
          flat
          @click="newCard"
        />
      </div>
    </div>
    <div class="mycards-cardsarea">
      <AddNewCard
        :newCardDialog="newCardDialog"
        @closeDialog="closeDialog"
        v-if="newCardDialog"
      />
      <q-tabs
        v-model="tab"
        dense
        class="mycards-cardsarea-card text-grey"
        active-color="white"
        indicator-color="blue"
        narrow-indicator
        no-caps
      >
        <q-tab name="myDebtCards" label="My debit cards" />
        <q-tab name="allCmpnyCards" label="All company cards" />
      </q-tabs>
      <q-tab-panels v-model="tab" animated class="mycards-tabs">
        <q-tab-panel name="myDebtCards">
          <div v-if="!cardsData">
            <q-card class="mycards-debitcard bg-grey text-white" style="width: 330px">
              <q-card-section>
                <div style="float: right">
                  <img src="aspire-logo.png" width="74" height="21" />
                </div>
              </q-card-section>
              <q-card-section>
                <div
                  class="text-h5 text-weight-medium mycards-debitcard-name text-capitalize"
                >
                  ***** ******
                </div>
                <div class="mycards-debitcard-number">
                  <span class="mycards-debitcard-number-dot" v-for="n in 4" :key="n">
                  </span>
                  <span class="mycards-debitcard-number-space"></span>
                  <span class="mycards-debitcard-number-dot" v-for="n in 4" :key="n">
                  </span>
                  <span class="mycards-debitcard-number-space"></span>
                  <span class="mycards-debitcard-number-dot" v-for="n in 4" :key="n">
                  </span>

                  <span class="mycards-debitcard-number-space"></span>
                </div>
                <div class="mycards-debitcard-number-info">
                  <span class="mycards-debitcard-number-digits"> **/**</span>
                  <span class="mycards-debitcard-number-space"></span>
                  <span class="mycards-debitcard-number-digits">CVV:</span>
                  <span class="mycards-debitcard-number-digits">***</span>
                </div>
                <div style="float: right">
                  <img src="Visa-logo.png" width="59" height="20" />
                </div>
              </q-card-section>
            </q-card>
          </div>
          <div v-else>
            <keep-alive>
              <q-carousel
                v-model="slide"
                swipeable
                animated
                navigation
                height="350px"
                class="mycards-tabs text-white"
                control-color="green"
              >
                <q-carousel-slide
                  class="column no-wrap flex-center"
                  :name="cards.id"
                  v-for="(cards, index) in cardsData"
                  :key="index"
                >
                  <q-card
                    class="mycards-debitcard bg-green text-white"
                    :class="{ disable: cards.freeze === true }"
                    style="width: 330px"
                  >
                    <q-card-section>
                      <div style="float: right">
                        <img src="aspire-logo.png" width="74" height="21" />
                      </div>
                    </q-card-section>
                    <q-card-section>
                      <div
                        class="text-h5 text-weight-medium mycards-debitcard-name text-capitalize"
                      >
                        {{ cards.name }}
                      </div>
                      <div class="mycards-debitcard-number">
                        {{ cards.ccNumber }}
                        <span class="mycards-debitcard-number-space"></span>
                      </div>
                      <div class="mycards-debitcard-number-info">
                        <span class="mycards-debitcard-number-digits">
                          {{ cards.cc_exp }}
                        </span>
                        <span class="mycards-debitcard-number-space"></span>
                        <span class="mycards-debitcard-number-digits">CVV:</span>
                        <span class="mycards-debitcard-number-digits">***</span>
                      </div>
                      <div style="float: right">
                        <img src="Visa-logo.png" width="59" height="20" />
                      </div>
                    </q-card-section>
                  </q-card>
                  <div class="q-mt-md text-center"><q-space /></div>
                  <q-card
                    class="slide-drawer slide-drawer--bottom text-white fixed-bottom column no-wrap"
                    :class="`slide-drawer--open-${drawerMode}`"
                    :style="drawerStyle"
                  >
                    <q-card-section
                      class="slide-drawer__handler--horizontal row justify-center bg-skyblue"
                      style="border-radius: 30px 30px 0 0"
                      v-touch-pan.mouse.vertical="slideDrawer"
                    >
                      <q-btn
                        @click="unFreezeCard(cards.id)"
                        v-if="cards.freeze === true"
                        stack
                        flat
                        no-caps
                        class="slide-drawer__handler-btn"
                      >
                        <q-icon name="app:freeze" size="1.5rem" />Unfreeze<br />
                        card
                      </q-btn>
                      <q-btn
                        v-else
                        @click="freezeCard(cards.id)"
                        stack
                        flat
                        no-caps
                        class="slide-drawer__handler-btn"
                      >
                        <q-icon name="app:freeze" size="1.5rem" />Freeze<br />
                        card
                      </q-btn>

                      <q-btn stack flat no-caps class="slide-drawer__handler-btn">
                        <q-icon name="app:spend" size="1.5rem" />Set spend<br />
                        limit</q-btn
                      >
                      <q-btn stack flat no-caps class="slide-drawer__handler-btn">
                        <q-icon name="app:gpay" size="1.5rem" />Add to<br />
                        GPay
                      </q-btn>
                      <q-btn stack flat no-caps class="slide-drawer__handler-btn"
                        ><q-icon name="app:replace" size="1.5rem" />Replace <br />
                        card
                      </q-btn>
                      <q-btn
                        @click="cancelCard(cards.id)"
                        stack
                        flat
                        no-caps
                        class="slide-drawer__handler-btn"
                        ><q-icon name="app:cancel" size="1.5rem" />Cancel <br />
                        card
                      </q-btn>
                    </q-card-section>

                    <q-card-section class="col bg-white">
                      <q-list>
                        <q-expansion-item
                          class="shadow-1 slide-drawer__handler-expn"
                          style="border-radius: 8px"
                          expand-icon-class="text-grey"
                        >
                          <template v-slot:header>
                            <q-item-section avatar>
                              <q-icon name="app:carddetail" size="1.5rem" />
                            </q-item-section>
                            <q-item-section> Card details </q-item-section>
                          </template>

                          <q-card>
                            <q-card-section> </q-card-section>
                          </q-card>
                        </q-expansion-item>
                        <br />
                        <q-expansion-item
                          class="shadow-1 slide-drawer__handler-expn"
                          style="border-radius: 8px"
                          expand-icon-class="text-white"
                          default-opened
                        >
                          <template v-slot:header>
                            <q-item-section avatar>
                              <q-icon name="app:recenttran" size="1.5rem" />
                            </q-item-section>
                            <q-item-section> Recent transactions </q-item-section>
                          </template>
                          <q-card style="border: 1px solid #eee">
                            <q-card-section>
                              <q-list>
                                <q-item>
                                  <q-item-section top avatar round>
                                    <q-icon name="app:hamleys" size="1rem" />
                                  </q-item-section>

                                  <q-item-section>
                                    <q-item-label>Hamleys</q-item-label>
                                    <q-item-label caption lines="2"
                                      >20 May 2020</q-item-label
                                    >
                                  </q-item-section>

                                  <q-item-section side top>
                                    <q-item-label caption class="text-green text-bold"
                                      >+ S$ 150</q-item-label
                                    >
                                  </q-item-section>
                                </q-item>

                                <q-separator spaced />
                                <q-item>
                                  <q-item-section top avatar round>
                                    <q-icon name="app:megaphone" size="1rem" />
                                  </q-item-section>

                                  <q-item-section>
                                    <q-item-label>Hamleys</q-item-label>
                                    <q-item-label caption lines="2"
                                      >20 May 2020</q-item-label
                                    >
                                  </q-item-section>

                                  <q-item-section side top>
                                    <q-item-label caption class="text-green text-bold"
                                      >+ S$ 150</q-item-label
                                    >
                                  </q-item-section>
                                </q-item>
                                <q-separator spaced />
                                <q-item>
                                  <q-item-section top avatar round>
                                    <q-icon name="app:flights" size="1rem" />
                                  </q-item-section>

                                  <q-item-section>
                                    <q-item-label>Hamleys</q-item-label>
                                    <q-item-label caption lines="2"
                                      >20 May 2020</q-item-label
                                    >
                                  </q-item-section>

                                  <q-item-section side top>
                                    <q-item-label caption class="text-green text-bold"
                                      >+ S$ 150</q-item-label
                                    >
                                  </q-item-section>
                                </q-item>
                                <q-separator />

                                <q-item>
                                  <q-item-section top avatar round>
                                    <q-icon name="app:hamleys" size="1rem" />
                                  </q-item-section>

                                  <q-item-section>
                                    <q-item-label>Hamleys</q-item-label>
                                    <q-item-label caption lines="2"
                                      >20 May 2020</q-item-label
                                    >
                                  </q-item-section>

                                  <q-item-section side top>
                                    <q-item-label caption class="text-green text-bold"
                                      >+ S$ 150</q-item-label
                                    >
                                  </q-item-section>
                                </q-item>
                                <q-item
                                  center
                                  style="background: #00d6b51a"
                                  class="text-center text-green text-caption"
                                >
                                  <q-item-section>
                                    View all card transactions
                                  </q-item-section></q-item
                                >
                              </q-list>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </q-list>
                    </q-card-section>
                  </q-card>
                </q-carousel-slide>
              </q-carousel>
            </keep-alive>
          </div>
        </q-tab-panel>
        <q-tab-panel name="allCmpnyCards"> </q-tab-panel>
      </q-tab-panels>
    </div>
    <q-footer bordered class="bg-white text-primary">
      <q-tabs
        no-caps
        indicator-color="transparent"
        active-color="green"
        class="bg-white text-grey-5 shadow-2"
        dense
        v-model="footTabs"
      >
        <q-tab name="home" style="font-size: 9px">
          <q-icon name="app:logo" size="1rem" />
          Home
        </q-tab>
        <q-tab name="cards" style="font-size: 9px">
          <q-icon name="app:pay" size="1rem" />
          Cards</q-tab
        >
        <q-tab name="payments" style="font-size: 9px">
          <q-icon name="app:payments" size="1rem" />
          Payments</q-tab
        >
        <q-tab name="credit" style="font-size: 9px">
          <q-icon name="app:credit" size="1rem" />
          Credit</q-tab
        >
        <q-tab name="profile" style="font-size: 9px">
          <q-icon name="app:account" size="1rem" />
          Profile</q-tab
        >
      </q-tabs>
    </q-footer>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useQuasar } from "quasar";
import AddNewCard from "components/AddNewCard.vue";

const myIcons: Record<string, string> = {
  "app:freeze": "img:/Freeze card.svg",
  "app:spend": "img:/Set spend limit.svg",
  "app:gpay": "img:/GPay.svg",
  "app:replace": "img:/Replace card.svg",
  "app:cancel": "img:/Deactivate card.svg",
  "app:carddetail": "img:/Group 11889.svg",
  "app:recenttran": "img:/Group 11889 (1).svg",
  "app:logo": "img:/Logo.svg",
  "app:pay": "img:/pay.svg",
  "app:payments": "img:/Payments.svg",
  "app:credit": "img:/Credit.svg",
  "app:account": "img:/Account.svg",
  "app:hamleys": "img:/file-storage.svg",
  "app:megaphone": "img:/megaphone.svg",
  "app:flights": "img:/flights.svg",
  "app:business": "img:/business-and-finance.svg",
};

export default defineComponent({
  name: "MyCards",
  components: { AddNewCard },
  setup() {
    const $q = useQuasar();
    $q.iconMapFn = (iconName) => {
      const icon = myIcons[iconName];
      if (icon !== void 0) {
        return { icon: icon };
      }
    };
    const drawerMinHeight = 250;
    const drawerOpenRatioHalf = 50;
    const animateTimeout = 0;

    return {
      tab: ref("myDebtCards"),
      footTabs: ref("cards"),
      drawerMinHeight,
      drawerOpenRatioHalf,
      animateTimeout,
      newCardDialog: ref(false),
      cardsData: ref(Array),
      slide: ref(""),
    };
  },

  data() {
    return { drawerPos: 250 };
  },

  computed: {
    drawerMaxHeight() {
      return Math.max(0, this.$q.screen.height);
    },

    drawerOpenRatio() {
      return Math.round(
        (Math.max(0, this.drawerPos - this.drawerMinHeight) /
          Math.max(1, this.drawerMaxHeight - this.drawerMinHeight)) *
          100
      );
    },

    drawerStyle() {
      return {
        height: `${this.drawerMaxHeight}px`,
        transform: `translateY(${-this.drawerPos}px)`,
      };
    },

    drawerMode() {
      if (this.drawerOpenRatio > 50) {
        return "full";
      }
      return this.drawerOpenRatio > 0 ? "half" : "handler";
    },
  },

  methods: {
    slideDrawer(ev: Record<string, any>) {
      const { direction, delta, isFinal } = ev;
      this.drawerPos = Math.max(
        this.drawerMinHeight,
        Math.min(this.drawerMaxHeight, this.drawerPos - delta.y)
      );
      if (isFinal === true) {
        this.$nextTick(() => {
          const aboveHalf = this.drawerOpenRatio > this.drawerOpenRatioHalf;
          const targetHeight =
            direction === "up"
              ? aboveHalf
                ? this.drawerMaxHeight
                : Math.round(this.drawerMaxHeight / 2)
              : aboveHalf
              ? Math.round(this.drawerMaxHeight / 2)
              : this.drawerMinHeight;

          this.animateDrawerTo(targetHeight);
        });
      }
    },

    animateDrawerTo(height: number) {
      clearTimeout((this.animateTimeout as unknown) as ReturnType<typeof setTimeout>);

      const diff = height - this.drawerPos;

      if (diff !== 0) {
        this.drawerPos += Math.abs(diff) < 2 ? diff : Math.round(diff / 2);
        this.animateTimeout = window.setTimeout(() => {
          this.animateDrawerTo(height);
        }, 30);
      }
    },
    newCard() {
      this.newCardDialog = true;
    },
    closeDialog() {
      this.newCardDialog = false;
      this.cardsData = this.$q.localStorage.getItem("card_id");
      this.slide = this.cardsData[0].id;
    },
    cancelCard(crdID: string) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Would you like to cancel the card?",
          cancel: true,
          persistent: true,
        })
        .onOk(() => {
          this.$q.loading.show();
          this.cardsData = this.cardsData.filter((x: any) => x.id !== crdID);
          this.$q.localStorage.remove("card_id");
          if (this.cardsData.length !== 0) {
            this.$q.localStorage.set("card_id", this.cardsData);
          }
          this.cardsData = this.$q.localStorage.getItem("card_id");
          this.slide = this.cardsData ? this.cardsData[0].id : "";
          this.$q.loading.hide();
        })
        .onOk(() => {
          // console.log('>>>> second OK catcher')
        })
        .onCancel(() => {
          // console.log('>>>> Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
    freezeCard(crdID: string) {
      this.$q.loading.show();
      const cardsData: any[] = [];

      const otherCardsData = this.cardsData.filter((x: any) => x.id !== crdID);
      otherCardsData.forEach((otherElement: any) => {
        cardsData.push({
          id: otherElement.id,
          name: otherElement.name,
          ccNumber: otherElement.ccNumber,
          cc_exp: otherElement.cc_exp,
        });
      });
      this.$q.localStorage.set("card_id", cardsData);

      this.cardsData = this.cardsData.filter((x: any) => x.id === crdID);

      this.cardsData
        .filter((x: any) => x.id === crdID)
        .forEach((element: any) => {
          cardsData.push({
            id: element.id,
            name: element.name,
            ccNumber: element.ccNumber,
            cc_exp: element.cc_exp,
            freeze: true,
          });
        });

      this.$q.localStorage.set("card_id", cardsData);
      this.cardsData = this.$q.localStorage.getItem("card_id");
      this.$q.loading.hide();
    },
    unFreezeCard(crdID: string) {
      this.$q.loading.show();
      const cardsData: any[] = [];

      const otherCardsData = this.cardsData.filter((x: any) => x.id !== crdID);
      otherCardsData.forEach((otherElement: any) => {
        cardsData.push({
          id: otherElement.id,
          name: otherElement.name,
          ccNumber: otherElement.ccNumber,
          cc_exp: otherElement.cc_exp,
        });
      });
      this.$q.localStorage.set("card_id", cardsData);

      this.cardsData = this.cardsData.filter((x: any) => x.id === crdID);

      this.cardsData
        .filter((x: any) => x.id === crdID)
        .forEach((element: any) => {
          cardsData.push({
            id: element.id,
            name: element.name,
            ccNumber: element.ccNumber,
            cc_exp: element.cc_exp,
          });
        });

      this.$q.localStorage.set("card_id", cardsData);
      this.cardsData = this.$q.localStorage.getItem("card_id");
      this.$q.loading.hide();
    },
  },

  created() {
    this.cardsData = this.$q.localStorage.getItem("card_id");
    this.slide = this.cardsData ? this.cardsData[0].id : "";
  },

  beforeUnmount() {
    clearTimeout((this.animateTimeout as unknown) as ReturnType<typeof setTimeout>);
  },
});
</script>

<style lang="scss" scoped>
.mycards {
  width: 100%;
  height: 100vh;
  background: #0c365a;
  &-top {
    display: inline-flex;
    width: 100%;
    height: 56px;
    &-title {
      color: #fff;
      padding: 31px 24px 6px;
    }
    &-logo {
      padding: 16px 25px 15px;
      position: absolute;
      right: 0;
    }
  }
  &-bottom {
    display: inline-flex;
    width: 100%;
    height: 56px;
    &-left {
      color: #fff;
      background: #01d167;
      width: 40px;
      height: 22px;
      margin: 10px 24px 6px;
      border-radius: 4px;
      display: inline-flex;
      &-currancy {
        padding: 2px 3px 13px 14px;
        font-size: 12px;
      }
      &-text {
        margin-top: -8px;
        padding: 0px 3px 13px 18px;
        font-size: 24px;
      }
    }
    &-logo {
      padding: 5px 15px 15px;
      position: absolute;
      right: 0;
    }
  }
  &-cardsarea {
    width: 100%;
    &-card {
      float: left;
      margin-left: 10px;
    }
  }
  &-tabs {
    background: #0c365a;
    width: 100%;
  }
  &-debitcard {
    width: 100%;
    height: 220px;
    border-radius: 12px;
    &.disable {
      background: #c4cbd1 !important;
      opacity: 0.8;
    }
    &-name {
      padding-left: 10px;
      margin: 15px 0px 15px;
    }
    &-number {
      margin: 5px 10px;
      &-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        display: inline-block;
        margin-right: 4px;
      }
      &-space {
        margin-left: 20px;
      }
      &-info {
        margin: 5px;
      }
      &-digits {
        margin-left: 5px;
      }
    }
  }
}
.slide-drawer {
  &--bottom {
    background: #0c365a;
    top: 100%;
  }
  &__handler {
    &-btn {
      color: #0c365a;
      font-size: 11px;
      opacity: 0.8;
    }
    &-expn {
      color: #0c365a;
      background: #fafcff;
      border: #f5f5f5 1px solid;
      height: 62px;
    }
    &--horizontal {
      cursor: grab;
      background: #edf3ff;
      height: 116px;
      border-radius: 40px;
      padding: 0px;
    }
  }
}
</style>
